<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Slap Your Wife Ruin Your Life</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="css/clean-blog.css" rel="stylesheet">
    <link href="public/Account.css" rel="stylesheet">
    <link href="public/modal.css" rel="stylesheet">
    <link href="ng/Account.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>

</head>
<body>
    <script>
        var exports = new Object();
    </script>
    <script src="ng/UIRouter.js"></script>
    <script type="text/javascript" src="public/Parameters.js?1002"></script>
    <script type="text/javascript" src="public/RepeatObj.js?1002"></script>
    <script type="text/javascript" src="public/UserObj.js?1002"></script>
    <script type="text/javascript" src="public/services.js?1002"></script>
    <!-- Navigation -->
    <div ng-app="routerApp">
        <div ng-controller="UIRouterController as UIRouter">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand" href="index.html">Understanding domestic conflict and the law.</a>
                    <button style="display:none" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        Menu
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="home" ui-sref-active="active">Blog</a>
                            </li>
                            <li class="nav-item" style="display:none;">
                                <a class="nav-link" ui-sref="about" ui-sref-active="active">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ui-sref="post" ui-sref-active="active">Post</a>
                            </li>
                            <li class="nav-item" style="display:none;">
                                <a class="nav-link" ui-sref="contact" ui-sref-active="active">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <ui-view></ui-view>
                </div>
            </nav>
          </div>
        </div>
            <!-- Page Header -->
            <header class="masthead" style="background-image: url('img/home-bg.jpg');">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h2>Partner Assault</h2>
                                <span class="subheading">How has the law changed your life?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content -->
            <div id="divWrap" ng-app="useApp">
                <div id="Account" style="display:none">
                    <div ng-controller="UseController as useList">
                        <form name="{{useList.title}}-Form" method="post" ng-submit="useList.validate(this);" target="_blank">
                            <table id="{{useList.title}}-Data-Table" width="100%">
                                <tr>
                                    <td width="30%"></td>
                                    <td>
                                        <h2 class="{{useList.title}}-Header">{{useList.title}}</h2>
                                    </td>
                                    <td ng-repeat="obj in useList.actions" style="text-align:left">
                                        <button class="Toolbar-Button"
                                                id="{{useList.title}}-Save-{{obj}}"
                                                onclick="Controller.select(this)">
                                            <span id="Save-Span">
                                                {{obj}}
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <div id="{{useList.title}}-Form-Wrap">
                                <table id="{{useList.title}}-Table">
                                    <tr ng-repeat="obj in useList.objects">
                                        <td class="{{useList.title}}-Attribute" colspan="1">
                                            <span class="done-{{obj.name}}">{{obj.name}}:&nbsp;</span>
                                        </td>
                                        <td class="{{useList.title}}-Input"
                                            style="{{obj.inputstyle}}">
                                            <input id="{{useList.title}}-Input-{{obj.name}}"
                                                   class="{{useList.title}}-Input-{{obj.type}}"
                                                   name="{{obj.name}}"
                                                   type="{{obj.type}}"
                                                   value="{{obj.value}}"
                                                   ng-model="obj.value"
                                                   ng-keydown="useList.onKeydown(obj);"
                                                   ng-keyup="useList.onKeyup(obj);"
                                                   ng-focus="useList.onFocus(obj);"
                                                   ng-blur="useList.onBlur(obj);" />
                                            <div id="{{useList.title}}-Text-{{obj.name}}"
                                                 class="{{useList.title}}-Text-{{obj.type}}">
                                                {{obj.value === "false" ? obj.alttext : obj.helptext}}
                                            </div>
                                        </td>
                                        <td style="{{obj.textareastyle}}">
                                            <textarea id="{{useList.title}}-Input-{{obj.name}}"
                                                      class="{{useList.title}}-Input-{{obj.type}}"
                                                      ng-model="obj.value"
                                                      ng-keydown="useList.onKeydown(obj);"
                                                      ng-keyup="useList.onKeyup(obj);"
                                                      ng-focus="useList.onFocus(obj);"
                                                      ng-blur="useList.onBlur(obj);">
                                                {{obj.value}}
                                            </textarea>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                        </form>
                        <div id="{{useList.title}}-Modal" class="modal">
                            <div class="modal-content">
                                <span id="{{useList.title}}-Modal-close" class="close">&lt;ok&gt;</span>
                                <p class="{{useList.title}}-Model-Entry" ng-repeat="obj in useList.results"><b>{{obj.name}}:</b>&nbsp;{{obj.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Blog" class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-preview">
                            <a href="post.html">
                                <h2 class="post-title">
                                    Man must explore, and this is exploration at its greatest
                                </h2>
                                <h3 class="post-subtitle">
                                    Problems look mighty small from 150 miles up
                                </h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#">Start Bootstrap</a>
                                on September 24, 2017
                            </p>
                        </div>
                        <hr>
                        <div class="post-preview">
                            <a href="post.html">
                                <h2 class="post-title">
                                    I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                                </h2>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#">Start Bootstrap</a>
                                on September 18, 2017
                            </p>
                        </div>
                        <hr>
                        <div class="post-preview">
                            <a href="post.html">
                                <h2 class="post-title">
                                    Science has not yet mastered prophecy
                                </h2>
                                <h3 class="post-subtitle">
                                    We predict too much for the next year and yet far too little for the next ten.
                                </h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#">Start Bootstrap</a>
                                on August 24, 2017
                            </p>
                        </div>
                        <hr>
                        <div class="post-preview">
                            <a href="post.html">
                                <h2 class="post-title">
                                    Failure is not an option
                                </h2>
                                <h3 class="post-subtitle">
                                    Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                                </h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#">Start Bootstrap</a>
                                on July 8, 2017
                            </p>
                        </div>
                        <hr>
                        <!-- Pager -->
                        <div class="clearfix">
                            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p class="copyright text-muted">Copyright &copy; Neolation.com corp. 2017</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Bootstrap core JavaScript -->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Custom scripts for this template -->
            <script src="js/clean-blog.js"></script>
    <script type="text/javascript" src="public/modal.js?1002"></script>
    <script type="text/javascript" src="ng/app.js?1002"></script>
</body>

</html>
