#Account {
    text-align: center;
}
#Post-Table {
    width: 100%;
}
#Post-Form-Wrap {
    padding-left: 10%;
}
#Post-Input-Message {
    width: 100%;
    height: 10em;
}
.Post-Input-text {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 100%;
}
.copyright {
    display: none;
}
.Post-Attribute {
    display: none;
}

